<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="jumbotron">

  <img class='lang-logo' src="/lang-logo.png">
  <h1 class='text-center'>May Node, Express and Mongo be with you!</h1>

</div>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
  		<h3>StarWars Quotes Database:</h3>
		</div>
		<div class="panel-body">
			<ul class="quotes list-group">
		    <% for(var i=0; i<quotes.length; i++) {%>
		      <li class="quote list-group-item">
		        <span><%= i + '- ' + quotes[i].name %>: </span>
		        <span><%= quotes[i].quote %></span>
		      </li>
		    <% } %>
		  </ul>
	  </div>
	</div>

  <div>
    <h4>Replace last quote by Master Yoda with a Darth Vader's one.</h4>
    <button id="update" class="btn btn-default btn-warning"> Darth Vader invades! </button>
    <h4>Delete Darth Vader's first quote</h4>
    <button id="delete" class="btn btn-default btn-success"> Delete first Darth Vader quote </button>
		<h4>Delete All</h4>
    <button id="delete-all" class="btn btn-default btn-danger"> Delete all quotes </button>
  </div>
</div>

<div class="container">
  <h2 class='text-center'>Database Submission Form</h2>

	<form action="/quotes" method="POST">
		<div class="form-group form-group-lg">
			<label class="control-label dblabel" for="author">Author</label>
			<div class="">
    		<input  class="form-control" type="text" placeholder="Yoda maybe?" name="name" id="author" required>
			</div>
		</div>
		<div class="form-group form-group-lg">
			<label class="control-label dblabel" for="quote">Quote</label>
			<div class="">
    		<input  class="form-control" type="text" placeholder="May the force..." name="quote" id="quote" required>
			</div>
		</div>
		<div class="form-group">
    	<div class="">
    		<button class="btn btn-default btn-lg" type="submit">Submit to DB</button>
			</div>
  	</div>
  </form>

</div>
<br>
<script src="main.js"></script>
</body>
</html>
